@page "/repeater/index"

<h1>Repeater</h1>

<p>Repeater Control</p>

<Instructions></Instructions>

<h2 class="mb-3">Examples</h2>

<h3>Basic</h3>

<p>Repeat Items for Dropdown</p>

<div class="m-1">
    <select name="color" @bind="SelectedColor">
        <option value="">- select -</option>
        <Repeater Items="Colors">
            <option @key="context" value="@context">@context</option>
        </Repeater>
    </select>
</div>

<p>Bound Value: @SelectedColor</p>

<div class="m-1">
    <select name="person" @bind="SelectedPerson">
        <option value="">- select -</option>
        <Repeater Items="People" Context="person">
            <option @key="person.Email" value="@person.Email">@person.Name</option>
        </Repeater>
    </select>
</div>

<p>Bound Value: @SelectedPerson</p>

<p>Repeat Items for Table</p>

<div class="m-1">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <Repeater Items="People" Context="person">
                <tr @key="person.Email">
                    <td>@person.Name</td>
                    <td>@person.Email</td>
                </tr>
            </Repeater>
        </tbody>
    </table>
</div>

@code {
    public List<string> Colors = ["Red", "Green", "Blue"];

    public List<Person> People = [new("Jim", "jim@email.com"), new("Bob", "bob@email.com")];

    public string SelectedColor { get; set; }

    public string SelectedPerson { get; set; } = "bob@email.com";

    public record Person(string Name, string Email);
}
