@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<AutoComplete SearchMethod="@GetPeopleLocal"
              Items="People"
              @bind-Value="@SelectedPerson"
              Placeholder="Search by first name...">
    <SelectedTemplate Context="person">
        @person.FullName
    </SelectedTemplate>
    <ResultTemplate Context="person">
        @person.Firstname @person.Lastname
    </ResultTemplate>
</AutoComplete>

<hr />

@if (SelectedPerson != null)
{
    <p>Selected: @SelectedPerson.Firstname @SelectedPerson.Lastname</p>
}


@code {

    private List<Person> People = new List<Person>();

    private Person SelectedPerson;

    protected override void OnInitialized()
    {
        var person1 = new Person { Firstname = "John", Lastname = "Smith" };
        var person2 = new Person { Firstname = "Jane", Lastname = "Doe" };
        var person3 = new Person { Firstname = "Tom", Lastname = "Jones" };
        var person4 = new Person { Firstname = "Fred", Lastname = "Gouch" };
        var person5 = new Person { Firstname = "John", Lastname = "Philips" };
        var person6 = new Person { Firstname = "Jon", Lastname = "Thomas" };

        People.Add(person1);
        People.Add(person2);
        People.Add(person3);
        People.Add(person4);
        People.Add(person5);
        People.Add(person6);
    }

    private async Task<List<Person>> GetPeopleLocal(string searchText)
    {
        //await Task.Delay(800);
        return await Task.FromResult(People.Where(x => x.Firstname.ToLower().Contains(searchText.ToLower())).ToList());
    }

    private void HandleFormSubmit()
    {
        Console.WriteLine("Form Submitted Successfully!");
    }
}
