@typeparam TItem
@namespace LoreSoft.Blazor.Controls

@using LoreSoft.Blazor.Controls.Extensions
@using Microsoft.AspNetCore.Components.Web
@using System.Globalization

<div class="query-filter">

    <select id="field-@Filter.Id"
            name="field-@Filter.Id"
            title="Select Filter Field"
            required="true"
            autocomplete="off"
            @bind="Filter.Field"
            @bind:after="FieldChanged"
            class="query-filter-fields">
        <option value="">- Field -</option>
        @foreach (var field in Fields)
        {
            <option @key="field" value="@field.Column">@field.CurrentTitle</option>
        }
    </select>

    @if (Field != null)
    {
        if (Field.OperatorTemplate != null)
        {
            @Field.OperatorTemplate(Filter)
        }
        else
        {
            <select id="operator-@Filter.Id"
                    name="operator-@Filter.Id"
                    title="Select Filter Operator"
                    required="true"
                    autocomplete="off"
                    @bind="Filter.Operator"
                    @bind:after="@OperatorChanged"
                    class="query-filter-operators">
                <option value="">- Operator -</option>
                @if (Field.CurrentOperators != null)
                {
                    @foreach (var item in Field.CurrentOperators)
                    {
                        <option @key="item" value="@item">@item</option>
                    }
                }
            </select>
        }

        if (ShowValueInput && Field.ValueTemplate != null)
        {
            @Field.ValueTemplate(Filter)
        }
        else if (ShowValueInput && Field.Type == typeof(bool))
        {
            <select id="value-@Filter.Id"
                    name="value-@Filter.Id"
                    title="Select Filter Value"
                    value="@GetValue()"
                    required="true"
                    autocomplete="off"
                    @onchange="SetValue"
                    class="query-filter-value">
                <option value="">- Select -</option>
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
        }
        else if (ShowValueInput)
        {
            <input id="value-@Filter.Id"
                   name="value-@Filter.Id"
                   title="Enter Filter Value"
                   value="@GetValue()"
                   autocomplete="off"
                   @onchange="SetValue"
                   type="@Field.CurrentInputType"
                   class="query-filter-value" />
        }
    }

    @if (Parent != null)
    {
        <button @onclick="DeleteFilter"
                type="button"
                class="query-button query-filter-remove"
                title="Delete Filter">
            <i class="query-button-delete"></i>
        </button>
    }
</div>


