@inherits InputBase<string>
@namespace LoreSoft.Blazor.Controls

<div class="input-image">
    <InputFile id="@InputIdentifier"
               accept="@Accept"
               style="display: none"
               disabled="@Disabled"
               OnChange="@LoadFiles" />
    <label class="input-image-label"
           for="@InputIdentifier"
           title="Change Image">

        <img class="input-image-icon"
             src="@ImageUrl"
             alt="@DisplayName"
             style="@ImageStyle" />

        <button type="button"
                class="input-image-clear"
                title="Clear Image"
                disabled="@Disabled"
                @onclick="ClearImage">
            <svg height="20" width="20" viewBox="0 0 20 20" focusable="false" fill="currentcolor" stroke="currentcolor">
                <path d="M14.348 14.849c-0.469 0.469-1.229 0.469-1.697 0l-2.651-3.030-2.651 3.029c-0.469 0.469-1.229 0.469-1.697 0-0.469-0.469-0.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-0.469-0.469-0.469-1.228 0-1.697s1.228-0.469 1.697 0l2.652 3.031 2.651-3.031c0.469-0.469 1.228-0.469 1.697 0s0.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c0.469 0.469 0.469 1.229 0 1.698z" />
            </svg>
        </button>
    </label>

    <input type="hidden"
           @attributes="AdditionalAttributes"
           name="@NameAttributeValue"
           value="@Value" />
</div>
