@using Sample.Core.Models.GitHub
@using Sample.Core.Services

@inject GitHubClient GitHubClient

<h3>GitHub</h3>


<DataGrid DataProvider="LoadData"
          Sortable="false"
          Selectable="true"
          @ref="Grid">
    <DataToolbar Context="grid">
        <form @onsubmit="HandleSubmit">
            <div class="input-group input-group-sm mr-2">
                <input type="search"
                       name="search"
                       @bind="SearchText"
                       class="form-control"
                       placeholder="Search" />
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-secondary"
                            type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </DataToolbar>
    <DataColumns>
        <DataColumn TItem="Repository"
                    Property="p => p.Id"
                    Width="80px" />
        <DataColumn TItem="Repository"
                    Property="p => p.Name" />
        <DataColumn TItem="Repository"
                    Property="p => p.Description" />
        <DataColumn TItem="Repository"
                    Property="p => p.Owner.Login"
                    Title="Login" />
        <DataColumn TItem="Repository"
                    Property="p => p.ForksCount"
                    Title="Forks"
                    Width="90px" />
        <DataColumn TItem="Repository"
                    Property="p => p.StargazersCount"
                    Title="Stars"
                    Width="90px" />
        <DataColumn TItem="Repository"
                    Property="p => p.SubscribersCount"
                    Title="Watches"
                    Width="90px" />
    </DataColumns>
    <DataPagination Context="grid">
        <DataPager PageSize="10" />
        <DataSizer />
        <div>@grid.Pager.StartItem - @grid.Pager.EndItem of @grid.Pager.Total</div>
    </DataPagination>
    <DetailTemplate Context="item">
        <div class="github-repository clearfix">
            <div class="github-avatar"><img src="@item.Owner.AvatarUrl"></div>
            <div class="github-meta">
                <div class="github-title">@item.FullName</div>
                <div class="github-description">@item.Description</div>
                <div class="github-statistics">
                    <div class="github-forks"><i class="bi bi-lightning-charge-fill"></i> @item.ForksCount Forks</div>
                    <div class="github-stargazers"><i class="bi bi-star"></i> @item.StargazersCount Stars</div>
                    <div class="github-watchers"><i class="bi bi-eye"></i> @item.SubscribersCount Watchers</div>
                </div>
            </div>
        </div>
    </DetailTemplate>
</DataGrid>


@code {
    private DataGrid<Repository>? Grid { get; set; }

    private string SearchText { get; set; } = "Blazor";

    public Repository? SelectedRepository { get; set; }

    public async ValueTask<DataResult<Repository>> LoadData(DataRequest request)
    {
        var value = SearchText;
        var result = await GitHubClient.SearchRepositories(value, request.Page, request.PageSize);
        result ??= new();

        var response = new DataResult<Repository>(result.TotalCount, result.Items);
        return response;
    }

    private async Task HandleSubmit()
    {
        if (Grid == null)
            return;

        await Grid.RefreshAsync(true);
    }
}
